* {
    color-scheme: dark light;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav {
    background-color: #232323;
    padding: 2em .5em;
}
ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
}
a {
    border: none;
    padding: .4em 1em;
    border-radius: 6px;
    background-color: #001aff;
    cursor: pointer;
    transition: background-color .2s ease-out;
    text-decoration: none;
}
a:hover {
    background-color: #003cff;
    box-shadow: 0px 4px 12px #003cff66;
}